/* CSS Document */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
	font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #fff;
	line-height: 1.5em;
}

p a, table.affiliations a, table.menu a {
	border-bottom: solid 1px #ddd;
	color: inherit;
	text-decoration: none;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

table.menu {
	font-size: 13pt;
	font-weight: 500;
}

strong, b {
    font-weight: 500;
}

p.author {
    font-size: 13pt;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 3em 0 3em;
}

.author {
	margin: 0pt 10pt;
}

sup {
    font-size: 0.7em;
    position: relative;
    top: 0em;
    vertical-align: super;
    font-size: smaller;
}


.container {
	min-height: 1200px;
	max-height: 999999px; /* prevents font boosting */
	margin: 0 auto; /* top and bottom, right and left */
	/*	border: 1px solid #000; */
	text-align: left; /* top, right, bottom, left */
	color: #000;
	background: #fff;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}

.venue {
	font-size: 120%;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

.title {
	font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	font-size: 200%;
	font-weight: 500;
	display: block;
	text-align: center;
	margin-top: 14px; /* h1 default */
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 5px;
	line-height: 1.5em;
}

table.affiliations {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 80%;
    max-width: 1080px;
}

table.affiliations td {
    padding-top: .5em;
    /*width: 10%;*/
    font-size: 11pt;
}

table#video {
	margin-top: 50px;
	margin-bottom: 50px;
}

.caption {
	font-style: italic;
	font-size: 100%;
}

.label {
	line-height: 1.2;
	text-align: center;
}

.highlight {
	color: blue;
}

.section{
	font-size: 140%;
	font-weight: 500;
}

.bibtex {
	font-family: Google Sans, Courier, monospace;
	white-space: pre;
}

.date {
	font-size: 80%;
}

table.data td {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	vertical-align: top;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.carousel-control-prev {
 margin-left: -50px;
 height: 300px;
 }
 .carousel-control-next {
 margin-right: -50px;
 height: 300px;
 }
 .carousel-item {
 /* height: 234px; */
 overflow: hidden;
 /* width: 100%; */
 text-align: center;
 }
 .carousel-item img {
 /* width: 100%; */
 }
 .carousel-inner .item img {
 margin:auto;
 }
 .carousel-control-next,.carousel-control-prev{
 opacity:1
 }
 .carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{
 opacity:1
 }
 .slider-navigation-next,.slider-navigation-previous{
 display:flex;
 justify-content:center;
 align-items:center;
 position:absolute;
 width:42px;
 height:42px;
 background:gray center center no-repeat;
 background-size:20px 20px;
 border:1px solid #fff;
 border-radius:25091983px;
 box-shadow:0 2px 5px #3232321a;
 top:50%;
 margin-top:-20px;
 left:0;
 cursor:pointer;
 transition:transform .3s,opacity .3s,-webkit-transform .3s
 }
 .slider-navigation-next svg,.slider-navigation-previous svg{
 width:25%;
 background:gray
 }
 .slider-navigation-next{
 left:auto;
 right:0;
 background:gray center center no-repeat;
 background-size:20px 20px
 }


 .caption {
    font-family: Chalkduster;
    color: gray;
	width: auto;
	display: inline-block;
	padding: 11px 15px 11px 15px;
	border-radius: 10px;
 }

 .caption:hover {
    cursor: pointer;
    color: black;
 }

 .caption-active {
    color: black;
	background-color: #F2E34C;
 }

 #videoCarousel{
     margin-top:5px;
 }

.custom-link, .custom-link:hover, .custom-link:visited, .custom-link:active {
	color: inherit;
	text-decoration: none;
	border-bottom: none !important;
}

.badge-button {
	font-size: 20px;
	border-radius: 10000px;
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


/**************** TEASER ****************/

.teaser-carousel {
    margin: auto;
	width: fit-content;
	height: fit-content;
    /* width: 1500px;
    height: 800px; */
}

.teaser-img {
    width: 300px !important;
}

.teaser-carousel-control {
	/* height: 665px; */
	height: 100%;
}

.trail-vid {
	display: inline-block;
	/* height: 400px; */
	/* width: 480px; */
	width: 600px;
}

/**************** TEASER ****************/



.tapvid-carousel {
	margin: auto;
	width: fit-content;
	height: fit-content;
}

.tapvid-carousel-control {
	/* height: 600px; */
	height: 100%;
}

.pipeline-img {
	width: 1200px;
}

.metrics-img {
	width: 1200px;
}

.pipeline-container {
	width: fit-content;
	margin: auto;
}


.comp-vid {
    height: 600px;
}

.an-vid {
	width: 1200px;
}


.tsne-track-img {
    height: 150px;
    margin-left: 20px;
}

.tsne-img {
    height: 400px;
    /* height: 350px; */
    width: auto;
    border-radius: 25px;
}

.tsne-item-container {
    margin: 10px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #111111;
    height: fit-content;
    width: fit-content;
}

.tsne-carousel-control {
	/* height: 400px; */
	height: 100%;
}

.tsne-caption {
	font-size: 120%;
	padding-top: 10px;
	color: #B1FF00;
	font-weight: bold;
}


.emph {
    font-weight: bold;
}